.preview {
  /* width: 100%;
  height: 100%; */
  background: #fff;
  transform-origin: 0 0;
  position: relative;
}

.item-edit {
  transform-origin: 0 0;
  margin: 0;
}

.item-edit>.index {
  margin: 0;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  margin-left: 0.5em;
  font-size: 20px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}

.item.item-bg-translucent .item-edit .index {
  display: none;
}

.item.item-bg-translucent:hover .item-edit .index {
  display: inline-block;
}

.hidden {
  position: relative;
  width: 0;
  height: 0;
  opacity: 0;
  float: left;
  margin: 0;
  padding: 0;
  pointer-events: none;
}

.hidden>.container {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.add-box {
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer;
  z-index: 9999;
  color: #fff;
  text-align: center;
}

.add-box svg {
  width: 20px;
  height: 20px;
  margin: 0;
  position: relative;
  top: calc(50% - 10px);
}

.del-box {
  width: 100%;
  height: 100%;
  /* background-color: red; */
  /* position: relative; */
  position: absolute;
  cursor: pointer;
  z-index: 999;
  display: none;
}

.item:hover .del-box {
  display: block;
}

.item:hover .del-box+.index {
  background: rgba(255, 255, 255, 1);
  padding: 2px;
  border-radius: 1px;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, .4);
  /* z-index: 999; */
}

.del-box svg {
  width: 20px;
  height: 20px;
  margin: 0;
  position: relative;
  float: right;
  top: 5px;
  right: 5px;
  transform: rotate(45deg);
}