<div class="demo-box">
  <div class="demo preview">
    {#await load(link,"component")}
    <p>...load...</p>
    {:then value}
    {initCpt(value)}
    <svelte:component this={value} {...data}></svelte:component>
    {:catch error}
    <p>load css error: {error.message}</p>
    {/await}

  </div>
  <div class="config" class:show={active}>
    <div class="preview">
      <p>code:</p>
      <pre>{exampleCode}</pre>
      <p>example:</p>
      <svelte:component this={cpt} {...data}></svelte:component>
    </div>
    <form action="javascript:;" on:submit={submit} on:change={formChange} class="config-form">
      <!--
      <div class="form-item">
        <span class="title">tag</span>
        <label class="options">
          <input type="radio" name="tag" value="a">
          <span>a</span>
        </label>
        <label class="options">
          <input type="radio" name="tag" value="input">
          <span>input</span>
        </label>
        <label class="options">
          <input type="radio" checked name="tag" value="button">
          <span>button</span>
        </label>
      </div>
      <div class="form-item">
        <span class="title">class</span>
        <label class="options">
          <input type="checkbox" name="class" value="clear">
          <span>clear</span>
        </label>
        <label class="options">
          <input type="checkbox" name="class" value="fill">
          <span>fill</span>
        </label>
        <label class="options">
          <input type="checkbox" name="class" value="draw">
          <span>draw(必须双标记)</span>
        </label>
        <label class="options">
          <input type="checkbox" name="class" value="dashed">
          <span>dashed</span>
        </label>
        <label class="options">
          <input type="checkbox" name="class" value="link">
          <span>link</span>
        </label>
      </div>
      <div class="form-item">
        <span class="title">color</span>
        <label class="options">
          <input type="radio" name="color" value="--">
          <span>--</span>
        </label>
        <label class="options">
          <input type="radio" name="color" value="inherit">
          <span>inherit</span>
        </label>
        <label class="options">
          <input type="radio" name="color" value="initial">
          <span>initial</span>
        </label>
        <label class="options">
          <input type="radio" name="color" value="initial">
          <input type="color" name="color">
        </label>
      </div>
      <div class="form-item">
        <label class="options">
          <span class="title">text</span>
          <input type="text" name="text" value="button">
        </label>
      </div>
<!--  -->
      <input type="submit" value="确定">
    </form>
  </div>
</div>