.menu-list {
	padding: 0;
	margin: 0;
}

.menu-item>.label {
	box-sizing: border-box;
	padding: 0;
	width: 100%;
	display: block;
}

.menu-item>.label>.content {
	position: relative;
	cursor: pointer;
	padding: 0.5em 0;
}

.menu-item>.label:hover {
	background-color: red;
}

.fa::before {
	display: block;
	width: 12px;
	height: 12px;
}

.fa.switch {
	position: absolute;
	z-index: 5;
	top: 0;
	left: -0.2em;
	height: 100%;
	/* line-height: 100%; */
	padding: 0.5em 0;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
}

.menu-item>.label>.content:hover>.fa.switch {
	color: #fff;
}

.fa.picon {
	margin-left: 0.7em;
	margin-right: -0.3em;
}

.fa.leafIcon {
	margin-left: 0.7em;
	margin-right: -0.3em;
}