:global(html, body) {
	height: 100%;
}

p {
	/* display: inline; */
	/* overflow: hidden; */
	position: relative;
	word-break: normal;
	/* max-width: 500px; */
	word-break: normal;
	white-space: pre-warp;
	word-wrap: break-word;
}

h1 {
	color: red;
}

.box {
	position: relative;
	height: 100%;
	overflow: hidden;
	max-width: 800px;
	/* margin: 0 auto; */
}

.box .bg, .box .content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	/* padding: 0 25%; */
	height: 100%;
}

.box .bg {
	z-index: 1;
}

.box .content {
	z-index: 2;
}

.box .bg svg {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}

.box .content {
	background: rgba(255, 255, 255, 0.5);
}

.load::after {
	content: '...load...';
	width: 100vw;
	height: 100vh;
	background: rgba(255, 255, 255, 0.95);
	position: fixed;
	z-index: 1000;
	display: block;
	top: 0;
	left: 0;
	text-align: center;
	line-height: 100vh;
	font-size: 20px;
}

.page-box {
	position: relative;
	width: 150px;
	float: left;
	margin-left: 200px;
}

.page-view {
	width: 100px;
	height: 70px;
	background: rgba(0, 0, 0, 0.2);
	margin: 1em;
	position: relative;
	cursor: default;
}
.page-view.new-page{
	box-shadow: 0 0 10px 2px #0af;
}
.page-view .title {
	height: 50px;
	text-align: center;
	vertical-align: middle;
	line-height: 60px;
}

.page-view .src {
	height: 20px;
	/* text-align: center; */
	/* vertical-align: middle; */
	/* line-height: 60px; */
	background: rgba(255, 255, 255, 0.7);
}

.component-box {
	position: relative;
	width: 200px;
	float: left;
	margin-left: 100px;
}

.component-tag {
	position: relative;
	height: 20px;
	width: 100px;
	overflow-y: hidden;
	cursor: default;
	margin: 1em 2em;
	background: rgba(0, 200, 255, 0.9);
	text-align: center;
	vertical-align: middle;
	line-height: 20px;
}

.component-tag .title {
	height: 100%;
}

/* .component-tag .src {
	display: none;
}
.component-tag:hover .src{
	display: ;
} */

.bg .info {
	padding-left: 300px;
	display: none;
}

.tool {
	z-index: 100;
	position: fixed;
	left: 50px;
	top: 14px;
}